<form class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <legend>Script Detail</legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Script Title</label>
            <div class="col-md-4">
                <input id="textinput" name="textinput" ng-model="title" type="text" placeholder="placeholder" class="form-control input-md">
                <span class="help-block"></span>
            </div>
        </div>
        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" >Select Language</label>
            <div class="col-md-4">
                <select id="selectLanguage" name="selectLanguage" 
                        class="form-control" 
                        ng-options="option.Name for option in languages"
                        ng-model="selectedLanguage">
                    
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Select Screen</label>
            <div class="col-md-4">

                <select class="form-control" ng-change="screenChange()" name="screenSelect" id="screenSelect"
                        ng-options="option.Name for option in screens"
                        ng-model="selectedScreen"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" >Select Fields</label>
            <div class="col-md-4">
                <select class="form-control" name="fieldSelect" id="fieldSelect"
                        ng-options="option.Name for option in fields"
                        ng-model="selectedField"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" >Select Product</label>
            <div class="col-md-4">
                <select id="selectProduct" name="selectProduct" class="form-control"
                        ng-options="option.Name for option in products"
                        ng-model="selectedProduct">
                   
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">
                Script<br />Agent Name: {agentname}<br />
                Customer Name: {customername}<br />
                Product Name: {productname}
            </label>
            <div class="col-md-4">
                <textarea ng-model="script" class="form-control input-md" id="scripttext" name="scripttext"></textarea>

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="button1id"></label>
            <div class="col-md-8">
                <button id="savebutton" ng-click="saveData()" name="savebutton" class="btn btn-success">Save</button>
                <a href="/#ManageScripts" class="btn btn-danger">Cancel</a>
            </div>
        </div>



    </fieldset>
</form>